:root {
  --netflixRed: #e50914;
  --netflixBlack: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Base elements */

body {
  background: var(--netflixBlack);
  font-family: "Times New Roman", Times, serif;
  color: white;
}

body header .container {
  display: flex;
  flex-direction: row;
  /* 'flex-direction: row' vem por padrão na flex box, mesmo q
  que não declarada. */
  align-items: center;
  justify-content: space-between;
}

header .logo {
  margin-left: 0.3125rem;
  height: 6.75rem;
  width: 15rem;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 0.625rem;
}

header nav a:hover {
  color: #fff;
}

/*Main Film */
.mainFilm {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("/img/BackgroundPhotoSherlock.jpg");

  /*liner gradient recebe 2 cores, nesse caso duas iguais e cria uma camada fina
  dessa cor sobre a imagem*/

  height: 25rem;
  background-size: cover;
  /*especifica o tamanho da imagem de background */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.mainFilm .description {
  margin-bottom: 2.5rem;
}

.title {
  font-size: 2.5rem;
}
