:root {
  --netflixRed: #e50914;
  --netflixBlack: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Base elements */

body {
  background: var(--netflixBlack);
  font-family: "Times New Roman", Times, serif;
  color: white;
}

body header .container {
  display: flex;
  flex-direction: row;
  /* 'flex-direction: row' vem por padrão na flex box, mesmo q
  que não declarada. */
  align-items: center;
  justify-content: space-between;
}

header .logo {
  margin: 1rem 0 1rem 0rem;
  height: 2rem;
  width: 6.75rem;
}

header nav a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #aaa;
  margin-right: 0.625rem;
}

header nav a:hover {
  color: #fff;
}

/*Main Film */
.mainFilm {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("/img/BackgroundPhoto-Sherlock.jpg");

  /*liner gradient recebe 2 cores, nesse caso duas iguais e cria uma camada fina
  dessa cor sobre a imagem*/

  height: 25rem;
  background-size: cover;
  /*especifica o tamanho da imagem de background */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.mainFilm .nSymbolContainer {
  display: flex;
  align-items: center;
  margin-left: -2.5rem;
  margin-bottom: 0.625rem;
}

.mainFilm .nSymbolContainer .nSymbol {
  height: 2rem;
  width: 6.75rem;
}

.mainFilm .nSymbolContainer p {
  margin-left: -2rem;
}

.mainFilm .description {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0.625rem;
  margin-bottom: 2.5rem;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
}

.button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;

  padding: 0.9375rem 1.875rem;
  margin-right: 0.9375rem;
  font-size: 0.75rem;

  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: white;
  color: black;
}

.button i {
  margin-right: 0.5rem;
}

.container {
  margin-left: 1.25rem;
}

.mainFilm .container {
  width: 70%;
}

.box-film {
  height: 100%;
  width: 100%;
  display: block;
}

.carouselMovies {
  margin-top: 0.3125rem;
}
