@media (max-width: 700px) {
  .button {
    width: 18.75rem;
    margin-top: 0.3125rem;
  }
}

@media (min-width: 1000px) {
  .mainFilm {
    height: 35rem;
  }

  .description {
    width: 50%;
  }
}
